#grid {
  width: 960px;
  height: 960px;
  margin: 5px;
  display: inline-block;
}

.square {
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
}

.mouseEnter {
  background-color: black;
}

.mouseLeave {
  background-color: white;
}

button {
  float: right;
}
